<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="4.0"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xml="http://www.w3.org/XML/1998/namespace"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Archetype Created Web Application</display-name>



    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.pls.cms.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CarSearchServlet</servlet-name>
        <servlet-class>com.pls.cms.servlet.CarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CarSearchServlet</servlet-name>
        <url-pattern>/searchCar</url-pattern>
    </servlet-mapping>

  <servlet>
    <servlet-name>PurchaseDetailsServlet</servlet-name>
    <servlet-class>com.pls.cms.servlet.PurchaseDetailsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PurchaseDetailsServlet</servlet-name>
    <url-pattern>/purchaseCar</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>addCar</servlet-name>
        <servlet-class>com.pls.cms.servlet.CarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addCar</servlet-name>
        <url-pattern>/addCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarResultServlet</servlet-name>
        <servlet-class>com.pls.cms.servlet.CarResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarResultServlet</servlet-name>
        <url-pattern>/viewAllCars</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ModifyCarServlet</servlet-name>
        <servlet-class>com.pls.cms.servlet.ModifyCarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifyCarServlet</servlet-name>
        <url-pattern>/updateCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCarServlet</servlet-name>
        <servlet-class>com.pls.cms.servlet.DeleteCarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteCarServlet</servlet-name>
        <url-pattern>/deleteCar</url-pattern>
    </servlet-mapping>

</web-app>
